.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
  width: 100%;
}


.slick-track {
  display: flex;
  align-items: flex-start;
}


// .slick-slide

// .slick-slide.slick-active

// .slick-slide.slick-current

// .slick-slide.slick-center

// .slick-arrow

// .slick-arrow.slick-prev

// .slick-arrow.slick-next

// .slick-arrow.slick-disabled

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}