<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-row">
          <a href="./" class="logo">
            <img src="logo.svg" alt="logo">
          </a>
          <nav class="nav">
            <ul class="nav-list">
              <li class="nav-list__item">
                <a href="#" class="nav-list__link">
                  Home
                </a>
              </li>
              <li class="nav-list__item">
                <a href="#" class="nav-list__link">
                  About
                </a>
              </li>
            </ul>
          </nav>
          <button class="burger">
            <span class="burger_item"></span>
            <span class="burger_item"></span>
            <span class="burger_item"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>